/* Global style*/
:root {
    --main-bg-color: #30102b;
    --primary-color: #4f0d44;
    --text-color: #31823f;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 10px;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
}

.text-green {
    color: var(--text-color);
}

body {
    height: 85vh;
}

img {
    width: 85%;
    height: auto;
}

.center {
    text-align: center;
}

/* Header --  Start*/

header {
    width: 100%;
    height: 100%;
}

.header-image {
    text-align: center;
    margin-top: 2rem;
    width: 50%;
}

header .container {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-item {
    width: 100%;
    height: 50%;
    max-width: 45rem;
}

.header-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    font-style: italic;
}

.text-container {
    margin-top: 6rem;
}

.header-text * {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.content {
    margin: 0px auto;
    padding-left: 1.5rem;
}


.hide {
    display: none;
}

.header-item p {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    transform: translateX(-100px);
}

/* The animation code */
@keyframes translate {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* The element to apply the animation to */
.header-item p:nth-child(2) {
    animation-name: translate;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-fill-mode: both;
}

.header-item p:nth-child(3) {
    animation-name: translate;
    animation-duration: 2.5s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

/* Header --  End */


/*projects    Start*/
.projects .container {
    margin: 6rem auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects .title {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: var(--text-color);
    text-shadow: -2px 2px 5px var(--text-color);
}

.card-container {
    width: 70%;
    margin-right: 3rem;
    margin-bottom: 7rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 1rem 0;
    transform: rotate3d(1, 1, 0, 25deg);
    -webkit-box-shadow: -10px 10px 10px var(--text-color);
    -moz-box-shadow: -10px 10px 10px var(--text-color);
    box-shadow: -10px 10px 10px var(--text-color);
}

.card {
    margin: auto;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    border-radius: 5px;
}

.card-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.card-container img:hover {
    opacity: 1;
}

.card-content {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
}

.card-content p {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.card-container h2 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.card-container h2::after {
    border: 5px solid var(--primary-color);
}

.card-container .button {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.card-container .button:hover,
:focus {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: inherit;
}

/*projects    Ends*/

/*Footer Start*/
footer {
    padding: 3rem 0rem 2rem 0rem;
    background-color: var(--text-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align: center;
}

footer .container {
    width: 100%;
    position: absolute;
    background-color: inherit;
}

footer ol {
    background-color: transparent;
    width: 100%;
}

.line {
    width: 100%;
    height: 10px;
}

footer li {
    list-style: none;
    display: inline-block;
    margin: 2rem 2rem 2rem 0rem;
    padding: 0.2rem;
    border-radius: 50%;
}


footer img {
    width: 40px;
    border-radius: 50%;
}
footer img:hover{
    opacity: 1;
}

footer a {
    background-color: var(--main-bg-color);
    border-radius: 50%;
}
footer a:focus{
    color: red;
}

/*Footer End*/


@media screen and (min-width: 576px) {

    /* For mobile phones: */
    header .container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header-image {
        margin-top: 0rem;
    }

    .header-item {
        margin-top: 5rem;
    }

    .container-item:nth-child(2) {
        order: -1;
    }

    .card-container {
        max-width: 60%;
    }

}

@media screen and (min-width: 768px) {

    /* Medium devices (tablets, 768px and up)*/
    .header-item * {
        font-size: 1.9rem;
    }

    .projects .container {
        flex-direction: row;
    }

    .projects .card-container {
        width: 35%;
    }

    .card-content p {
        font-size: 1.4rem;
    }

    .card-content h2 {
        font-size: 1.8rem;
    }

    .projects .title {
        font-size: 2.6rem;
    }
    .card-container img, footer img{
        opacity: 0.8;
    }
}

@media screen and (min-width: 992px) {

    /* Large devices (desktops, 992px and up)*/
    .header-item * {
        font-size: 2rem;
    }

    .projects .card-container {
        width: 30%;
    }

    .card-content p,
    .card-content .button {
        font-size: 1.6rem;
    }

    .card-content h2 {
        font-size: 2rem;
    }

    .projects .title {
        font-size: 2.8rem;
    }
    footer img {
        width: 55px;
        border-radius: 50%;
    }

}

@media screen and (min-width: 1200px) {

    /* X-Large devices (large desktops, 1200px and up)*/
    .header-item * {
        font-size: 2.3rem;
    }

    .projects .card-container {
        width: 23%;
    }

    .card-content p {
        font-size: 1.7rem;
    }

    .card-content h2 {
        font-size: 2.3rem;
    }

    .projects .title {
        font-size: 3rem;
    }
    footer img {
        width: 60px;
        border-radius: 50%;
    }

}


@media screen and (min-width: 1400px) {

    /* XX-Large devices (larger desktops, 1400px and up*/
    .header-item * {
        font-size: 2.6rem;
    }

    .card-content p,
    .card-content .button {
        font-size: 2rem;
    }

    .card-content h2 {
        font-size: 2.5rem;
    }

    .projects .title {
        font-size: 4rem;
    }
}